
body{
    background-color: #012a4a;
    color: white;
    margin: 0;
}
nav{
    background-color: #3d5a80;
    position: fixed;
    top: 0;
    width: 100%;
}
nav a{
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 1em;
}

nav a:hover{
    background-color: #012a4a;
}

ul{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

nav ul li:nth-child(2){
    margin-left: auto;
}

#personalPhoto{
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

#aboutMe {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    font-size: x-large;
    margin: 150px auto auto;
}
#aboutMeDiv{
    margin-bottom: 50px;
    height: 50px;
}
.containers{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    flex-direction: column;
    font-size: x-large;
    margin: 100px auto auto;
}